/*通用样式*/
body{
	font:14px Arial,"microsoft yahei",sans-serif,Helvetica;
	color:#666;
	margin:0px;
}
ul,p,h1,h2,h3,h4,h5,h6,ol,dl,dd{
	margin:0px;
	padding:0px;
	list-style:none;
}
img{
	vertical-align:middle;
}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#333;
	cursor:pointer;
	text-decoration:none;
}
.lf{
	float:left;
}
.rt{
	float:right;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}