/*布局元素样式*/
#wrapper,#header,#section{
	width:1349px;
	min-height:200px;
	margin:0px auto;
}
/********************************1.网页头部*****************************************/
#header>div{
	position:relative;
	height:180px;
	background:url(../img/instruction/header.jpg) 0 -240px;
}
#header>div>p{
	position:absolute;
	width:100%;
	bottom:0px;
	left:0px;
	font-size: 16px;
    padding: 20px 50px 10px 13px;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.7) 100%);
}
#header>div>p>a{
	color:#fff;
}
#header>p{
	height:40px;
	line-height:40px;
	text-align:center;
	color:#21b100;
	background-color:#F2F2F2;
}
#section div{
    width: 100%;
    padding:15px 15px 10px 10px;
    border-bottom: 1px solid #e2e2e2;
}
#section div>b{
	display:inline-block;
	width:80px;
	height:60px;
	margin-right:10px;
	background-image:url(../img/instruction/instruction01.jpg);
}
#section div>h2{
	float:right;
	width:1259px;
	font-weight:400;
    font-size: 16px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
#section div>h2>p{
	font-size: 13px;
    color: #999;
    line-height:35PX;
}
#section div>b.instruction02{
	background-image:url(../img/instruction/instruction02.jpg);
}
#section div>b.instruction03{
	background-image:url(../img/instruction/instruction03.jpg);
}
#section div>b.instruction04{
	background-image:url(../img/instruction/instruction04.jpg);
}
#section div>b.instruction05{
	background-image:url(../img/instruction/instruction05.jpg);
}
#section div>b.instruction06{
	background-image:url(../img/instruction/instruction06.jpg);
}
#section div>b.instruction07{
	background-image:url(../img/instruction/instruction07.jpg);
}
#section div>b.instruction08{
	background-image:url(../img/instruction/instruction08.jpg);
}
#section div>b.instruction09{
	background-image:url(../img/instruction/instruction09.jpg);
}
#section div>b.instruction10{
	background-image:url(../img/instruction/instruction10.jpg);
}